@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,regular,600);
@import url(https://fonts.googleapis.com/css?family=Varela:regular);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:300,600);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,300,regular,500,600,700);

@font-face {
    font-family: "DancingScriptBold";
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/DancingScript-Bold.ttf");
}
// Default font-family
// $fontByDefault: "Raleway", sans-serif;
$fontByDefault: "IBMPlexSans", sans-serif;

$dancing: "DancingScriptBold";
$varela: "Varela", sans-serif;
$source: "Source Sans 3", sans-serif;
/*===========================*/
