@use "../styles/partials" as p;
// @use "../styles/defaults" as d;

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include p.mq(tablet-small, max) {
        flex-direction: column;
        gap: 4rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include p.mq(tablet-small, max) {
            align-items: center;
        }
    }

    &__title {
        letter-spacing: -0.025em;
        font-weight: 900;
        color: p.$dark;

        font-size: 8rem /* 48px */;
        line-height: 1;
        font-family: "DancingScriptBold";
    }

    &__text {
        font-size: 2.4rem /* 24px */;
        line-height: 3.2rem /* 32px */;

        color: p.$white;
    }
    &__text-light {
        color: p.$white;
        font-size: 5.5rem;
        font-weight: 200;
    }
    &__text-dark {
        color: p.$textPurple;
    }
    &__cta {
        display: flex;
        align-self: flex-start;
        background-color: p.$linkHover;
        padding: 1.5rem 3.5rem;

        cursor: pointer;
        color: p.$white;
        outline: 0;
        border: 0px;

        font-size: 1.8rem;
        line-height: 2.8rem;

        border-radius: 2px;

        &:link,
        &:visited {
            background-color: p.$textPurple;
        }
        &:hover,
        &:active {
            transition: all 0.2s ease-in-out;
            background-color: p.$textPurpleActive;
        }

        @include p.mq(tablet-small, max) {
            align-self: center;
        }
    }
}
