@use "../styles/partials" as p;

.stores {
    &__card {
        width: 100%;
        height: 22.5rem;
        display: flex;
        flex-direction: column;
        background-color: p.$formOverlay4;
        border-radius: 1rem;
        padding: 2rem;

        @include p.mq(phablet, max) {
            height: 50rem;
        }
    }
    &__card-link {
        max-width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .stores__card-overlay {
            opacity: 0;
        }
        &:hover,
        &:active {
            .stores__card-overlay {
                opacity: 1;
                transition: all 0.2s ease-in;
            }
        }
    }
    &__card-overlay {
        @include p.overlay();
        border-radius: 1rem;
        opacity: 0;
        background-color: p.$formOverlay3;
    }
    &__card-title {
        @include p.truncate(90%);
        @include p.form-text-dark;

        font-weight: 700;
        line-height: 2rem;
        position: relative;
        z-index: 5;

        &:link,
        &:visited {
            // color: p.$textPurple;
        }
        &:hover,
        &:active {
            // transition: color 0.2s ease-out;
            // color: p.$textPurpleActive;
        }

        @include p.mq(phablet, max) {
            font-size: 4rem;
        }
    }
    &__card-address {
        @include p.form-text-dark;
        @include p.truncate(90%);
        line-height: 2rem;
        font-size: 1.4rem;
    }
    &__image {
        @include p.adaptive;
        border-radius: 1rem;
    }
    &__image-container {
        display: flex;
        width: 100%;
        height: 14rem;

        @include p.mq(phablet, max) {
            height: 37rem;
        }
    }
}
